
.game-object, iframe {
    width: 100%;

    min-height: 800px;
    border-style: solid;
    border-width: thin;

}

.main-button-cols
{
    margin-bottom: 8px;
}

.game 
{
    overflow-y: scroll;
}


