
.game-object, iframe {
    width: 100%;
    /*height: 100%;*/

    min-height: 800px;
    border-style: solid;
    border-width: thin;
    /*overflow-y: scroll;*/
/*    height: 1500px;*/
}

.main-button-cols
{
    margin-bottom: 8px;
}

.game 
{
    overflow-y: scroll;
}


